<span>name: </span><%= @user.name %>
<br>
<%= @user.email %>
<%= link_to('Add challenge', new_challenge_path, :class => 'btn btn-primary') %>


<h3>My challenges</h3>
<% if @challenges %>
  <ul class="nobullet">
    <% @challenges.each do |challenge| %>
      <li>
        <%= challenge.name %>
        <%= link_to('Edit challenge', edit_challenge_path(challenge), :class => 'btn btn-primary') %>
      </li>
    <% end %>
  </ul>
<% end %>


<h3>Challenges taken</h3>
