<div class="row">
  <div class="large-12 columns">
    <%= form_for @challenge do |f| %>
      <%= render 'shared/error_messages', object: f.object %>
      <p class='challenge-text'>
        <%= f.label :name %>
        <%= f.text_field :name %>
      </p>
      <%= f.fields_for :questions do |builder| %>
        <%= render 'questions', :f => builder %>
      <% end %>
      <div id="addquestlink">
        <%=  link_to_add_question "add question",f, :questions,"addquestion" %>
      </div>
      <p><%= f.submit %></p>
    <% end %>
  </div >
</div>