<div class='row'>
  <div class='10-large columns'>
    <% 'Challenges' %>
    <table class="width_hundred">
      <tr>
        <th>Name</th>
      </tr>
      <% @challenges.each do |challenge| %>
        <tr>
          <td><%= challenge.name %></td>
          <td><%= link_to "Show", challenge %></td>
          <td><%= link_to "Edit", edit_challenge_path(challenge) %></td>
          <td><%= link_to "Destroy", challenge, :confirm => 'Are you sure?', :method => :delete %></td>
        </tr>
      <% end %>
    </table>
    <p><%= link_to "Add Challenge", new_challenge_path %></p>
  </div>
</div>