<div class='row'>
  <div class="large-12 columns">
    <% @challenge %>
    <p>Name of Challenge: <%= @challenge.name %><br/>
      Written by: <%= @challenge.user.name %><br/>
    </p>
  </div>
    <% @challenge.questions.each do |q| %>
      <div class='large-12 columns question'>
        <%= q.question_text %>
        <br><br>
      </div>
      <row>
          <% q.choices.each do |c| %>
            <div class="large-3 small-3 columns">
              <textarea rows='4'><%= c.choice %></textarea>
              <p><%= c.is_correct %></p>
            </div>
          <% end %>
      </row>
    <% end %>
  <%= link_to edit_challenge_path(@challenge) do %>
    <span><i class="icon-pencil icon-large"></i>&nbsp;Edit</span>
  <% end %>

  <%= link_to "Destroy", @challenge, :confirm => 'Are you sure?', :method => :delete %>
  <%= link_to "View All", challenges_path %>
</div>

